@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Caveat:wght@400..700&family=Hachi+Maru+Pop&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+HR+Lijeva:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sevillana&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

header{
    border: 2px solid blue;
    display: flex;
    padding: 5px;
}

.imagem{
    border: 2px solid;
    margin: 0px;
    width: 80px;
    height: 80px;
}

div#logo{
    background-image: url(imagens/9809521.png);
    background-position: center;
    background-size: cover;
}

.titulo{ /* provisolrio */
    border: 2px solid red;
    display: flex;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    align-items: center;
}

nav{
    border: 2px solid yellow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    max-width: 100px;
    min-width: 300px;
}

nav a{
    text-decoration: none;
}

main{
    border: 2px solid;
    margin: 5px;
    padding: 2px;
}

p{
    border: 2px solid blue;
    padding: 5px;
    text-align: justify;
}